body{
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  flex: 1 0 30%;
  box-sizing: border-box;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}